<h1> Here you got your articles</h1>

<ul>
<% @articles.each do |article| %>
<li><%= link_to article.title, article_path(article) %></li>
<ul><%= article.content %></ul>
</ul>


<%= link_to 'Delete', article_path(@articles), class: 'pull-left btn btn-default',
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<% end %>


