<%= render 'form', article: @article %>

<%= link_to articles_path do %>

<i class="fa fa-history"></i> Back to list
<% end %>


<!-- LEWAGON SOLUTION -->
<h1>New article</h1>

<%= render 'form' %>

<%= link_to 'Back', articles_path %>
